---
import Layout from "../layouts/Layout.astro";
import Content from "../layouts/Content.astro";
import Marquee from "../components/Marquee.astro";
---

<Layout>
    <!-- Breif introduction -->
    <section>
        <div class='flex-col iterms-start'>
            <Content>
                <h1 class='flex justify-center text-xl font-bold'>Abstract</h1>
                <div>
                    <p>
                        If you're reading this, then that means you've found my personal website – 
                        <span class=''>Hi! I'm glad you're here! </span>
                    </p>
                    <br>
                    <p class='flex-wrap'>
                        I'm Mohammed Mehboob, a 5th-year senior at the 
                        <a class='font-bold' href='https://www.rit.edu'>Rochester Institute of Technology</a> 
                        majoring in 
                        <span class='underline font-mono decoration-wavy 
                                    decoration-red-500 
                                    transition ease-in-out delay-90 
                                    hover:bg-rose-100'>Computer Science</span>, 
                        minoring in 
                        <span class='underline font-mono decoration-wavy 
                                    decoration-blue-500 
                                    transition ease-in-out delay-90 
                                    hover:bg-sky-100'>Mathematics</span>.
                    </p>
                    <br>
                </div>
            </Content>
            <Content>
                <div class='flex gap-2'>
                    <p class='lg:whitespace-nowrap'>
                        I'm passionate about the fields of
                    </p>
                    <div class='grow-0'>
                        <Marquee members={ ['Cryptography',
                                            'FHE',
                                            'Algorithmic Fairness', 
                                            'Data Privacy', 
                                            'Data Science', 
                                            'Responsible AI', 
                                            'Parallel Computing'] } 
                        style="mx-1 px-1 font-mono transition ease-in-out delay-50\
                            bg-slate-200 hover:bg-black hover:text-white hover:underline"/>
                    </div>
                </div>            
            </Content>
            <Content>
                <p>
                    Over my time at RIT, I have involved myself in the study of cryptography, computer science theory, 
                    and data science through coursework, some degree of independent research, and self-driven project-work.
                    Some of my relevant coursework includes: 
                    <span class='underline font-mono 
                                decoration-wavy decoration-purple-500 
                                transition ease-in-out delay-90 
                                hover:bg-purple-100'>Post-Quantum Cryptography</span>, 
                    <span class='underline font-mono 
                                decoration-wavy decoration-sky-600 
                                transition ease-in-out delay-90 
                                hover:bg-sky-100'>Number Theory</span>, 
                    <span class='underline font-mono 
                                decoration-wavy decoration-teal-600 
                                transition ease-in-out delay-90 
                                hover:bg-cyan-100'>Principles of Data Mining</span>, 
                    <span class='underline font-mono 
                                decoration-wavy decoration-lime-600 
                                transition ease-in-out delay-90 
                                hover:bg-green-100'>Introduction to AI</span>, 
                    <span class='underline font-mono 
                                decoration-wavy decoration-amber-500 
                                transition ease-in-out delay-90 
                                hover:bg-amber-100'>Linear Algebra</span>, 
                    and so forth.
                </p>
            </Content>
            <br><br>
            <Content>
                <span>
                    Additionally, I am also fascinated by the topics and areas of study of 
                    <span class='group'>
                        <span class='px-1 text-white bg-black hover:underline group-hover:px-3'>Moral Philosophy,</span> 
                        <blockquote class="hidden group-hover:block
                                        p-4 my-2 border-l-4 
                                        border-rose-600 bg-stone-100">
                            <p class="italic font-medium leading-relaxed">
                                for its wide-ranging implications to the field of Computer Science, 
                                such as the ethics underlying data-collection practices 
                                and the nature of authorship in the age of generative AI.
                            </p>
                        </blockquote>
                    </span>
                    <span class='group'>
                        <span class='px-1 text-white bg-black hover:underline group-hover:px-3'>Anti-Design,</span> 
                        <blockquote class="hidden group-hover:block 
                                        p-4 my-2 border-l-4 
                                        border-stone-500 bg-stone-100">
                            <p class="italic font-medium leading-relaxed">
                                for the challenge it poses to traditional ideas about design and aesthetics, 
                                and as a tool to subvert dominant cultures and norms.
                            </p>
                        </blockquote>
                    </span> and 
                    <span class='group'>
                        <span class='px-1 text-white bg-black hover:underline group-hover:px-3'>AR/VR Technology.</span> 
                        <blockquote class="hidden group-hover:block
                                        p-4 my-2 border-l-4 
                                        border-blue-600 bg-stone-100 ">
                            <p class="italic font-medium leading-relaxed">
                                for the potential it holds as a tool for education; 
                                to engage learners in a way that traditional education methods cannot.
                            </p>
                        </blockquote>
                    </span>
                </span>
                <span class='text-center text-xl mb-5'>↓</span>

            </Content>
        </div>
    </section>

    <!-- <Content>
        
    </Content> -->

    <section>
        <div id='hero-container' class='bg-slate-800 overflow-x-scroll sm:overflow-hidden' onclick="location.href='fhe';" style="cursor: pointer;" >
            <div id='hero-content' class='overflow-x-scroll sm:overflow-hidden'>
                <div class='flex-row my-11'>
                    <h1 class='text-slate-100 text-3xl ml-6 my-2'>Independent Study:</h1>
                    <h1 class='text-slate-100 text-2xl my-2 ml-20'>NTRU-based Fully Homomorphic Encryption</h1>
                    <h1 class='text-slate-100 text-md my-3 italic'>An exploration into Lattice-Based Cryptography, Abstract Algebra, Fully Homomorphic Encryption...</h1>
                </div>
            </div>
            <div id='hero-bg'>
                <div id='blob'></div>
                <div id='blob2'></div>
                <div id='blur'></div>
                <div id='hero-bg-gif'></div>
            </div>
            <style>
                #blur {
                    height: 100%;
                    width: 100%;
                    /* top: 0%; */
                    position: absolute;
                    z-index: 2;
                    backdrop-filter: blur(80px);
                }
                #blob {
                    opacity: 0.6;
                    height: 250px;
                    aspect-ratio: 1;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    translate: -50% -50%;
                    border-radius: 50%;
                    z-index: 1;
                    background: linear-gradient(
                        to right, 
                        darkslateblue,
                        mediumpurple
                    );
                    @keyframes rotate {
                        from {
                            rotate: 0deg;
                        }
                        50% {
                            scale: 1.5 2;
                        }
                        to {
                            rotate: 360deg;
                        }
                    }
                    animation: rotate 20s infinite;
                }
                #blob2 {
                    opacity: 0.2;
                    height: 700px;
                    aspect-ratio: 1;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    translate: -50% -50%;
                    border-radius: 50%;
                    z-index: 0;
                    background: linear-gradient(
                        to right, 
                        darkslategray,
                        darkslateblue
                    );
                    @keyframes rotate {
                        from {
                            rotate: -180deg;
                        }
                        50% {
                            scale: 2 1;
                            opacity: 0.7;
                        }
                        to {
                            rotate: 180deg;
                        }
                    }
                    animation: rotate 60s infinite;
                }
                #hero-container{
                    width: 100%;
                    height: 224px;
                    position: relative;
                    box-shadow: inset 0 0 10px black;
                }
                #hero-content{
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    justify-content: center;
                    translate: 26%;
                    text-shadow: black 1px 0 5px;
                }
                #hero-bg{
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                }
                #hero-bg-gif{
                    position:absolute;
                    z-index: 3;
                    height: 100%;
                    width: 100%;
                    background-image: url("https://i.gifer.com/SemH.gif");
                    background-repeat: repeat;
                    background-size: 300px 300px;
                    opacity: 0.04;
                    /* mix-blend-mode: overlay; */
                }
            </style>
        </div>
    </section>

</Layout>