---
import Layout from "../layouts/Layout.astro";
import Content from "../layouts/Content.astro";
import Construction from "../components/Construction.astro";
---
<Layout>
    <Content>
        <h1 class='flex text-xl font-bold justify-center'>Blog Posts:</h1>

        <div class='flex justify-center'>
            <span>[</span>
            <a class='flex underline font-mono decoration-wavy 
            decoration-blue-500' href='/posts/ai-and-creativity'>AI and Creativity: The Ethical Quandries of Generative AI</a>
            <span>]</span>
        </div>
        
        <br><br>
        <span class='text-center text-xl mb-5'>↓</span>
        <Construction/>
    </Content>
    
</Layout>