---
import Separator from "./Separator.astro";
---

<br>
<br>
<Separator />

<div class='flex justify-center my-2'>
    <h1 class='font-mono text-xs'>Mohammed Mehboob • 2023 | Built with <a class='text-violet-800' href='https://astro.build'>Astro</a>; styled using <a class='text-sky-700' href='https://tailwindcss.com/'>Tailwind CSS</a>. </h1>
</div>

<div class='flex justify-center mb-5'>
    <div class='flex justify-center text-center w-5/6 sm:w-1/2'>
        <h1 class='font-mono text-xs'>As an undergraduate student majoring in computer science and minoring in mathematics at the <a class='text-orange-500' href='https://rit.edu'>Rochester Institute of Technology</a>, I'm excited to share my interests in ethics, moral philosophy, and cryptography, specifically fully homomorphic encryption, on this website. Thank you for visiting! </h1>
    </div>  
</div>
