---
import Separator from "./Separator.astro";
---

<div>
    <h1 class='text-3xl font-bold flex justify-center text-center m-5'>Mohammed Mehboob</h1>
    <h2 class='text-xl text-center flex justify-center'>Hello there! Welcome to my little corner of the internet.</h2>
    <br>
    <div class='flex justify-center mb-12'>
        <div class='w-fit px-10 py-1 border border-black mb-5'>
            <span class='text-lg hover:text-white px-1 hover:bg-black hover:px-3'><a href='/'>Home [1]</a></span>
            <span>|</span>
            <span class='text-lg hover:text-white px-1 hover:bg-black hover:px-3'><a href='/posts'>Posts [2]</a></span>
            <span>|</span>
            <span class='text-lg hover:text-white px-1 hover:bg-black hover:px-3'><a href='/about'>About [3]</a></span>
        </div>
    </div>
    <Separator />
</div>