---
import Layout from './Layout.astro'
import Content from './Content.astro'

const {title, date, category} = Astro.props;
---

<Layout>
    <Content>
        
        <!-- TITLE -->
        <br>
        <p class='flex text-2xl underline font-mono decoration-wavy 
            decoration-blue-500'>{title}</p>
        
        <div class='flex-row '>
            <!-- DATE -->
            <span>{date}</span>
            <span>|</span>
            <!-- CATEGORY -->
            <span class='underline italic decoration-rose-600 hover:cursor-pointer decoration-2'>{category}</span>
        </div>
    
        <slot />

    </Content>
</Layout>